@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery-body{
    background-color: #ecf0f1;
}

.gallery-container{
    display: grid;
    gap: 20px;
    background-color: rgb(238, 237, 237);
    width: 94%;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    margin: 0px auto;
}


.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}














/* .gallery-item{
    flex-basis: 32.7%;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.4s opacity, 0.4s transform;
}

.gallery-item:hover{

    transform: scale(1.02);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* Lightbox CSS

.lightbox{
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    overflow: auto;
    top: 0;
    left: 0;

}


.lightbox-content{
    position: relative;
    width: 65%;
    height: 58%;
    margin: 5% auto
}

.lightbox-content img{
    width: 100%;
    height: 100%;
    border: 6px solid #fff;
    object-fit: cover;
}

.lightbox-prev,
.lightbox-next{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 9px;
    top: 45%;
    cursor: pointer;
}

.lightbox-prev{
    left: 0;
}

.lightbox-next{
    right: 0;
} */

/* Responsive Lightbox */

/* @media(max-width: 767px){
    .gallery-container{
        width: 100%;
    }

    .gallery-item{
        flex-basis: 49.80%;
        margin-bottom: px;
    }

    .lightbox-content{
        width: 95%;
        height: 100%;
        margin: 15% auto;
    }
} */
